<div class="large-6 small-9 small-centered large-uncentered columns">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { abide: '' }) do |f| %>
    <%= devise_error_messages! %>

    <div class="name-field">
      <%= f.label :username do %>
        Username <small>required</small>
      <% end %>
      <%= f.text_field :username, required: '' %>
      <small class="error">Username is required and must be a string.</small>
    </div>

    <div class="name-field">
      <%= f.label :name, 'Full name' %>
      <%= f.text_field :name %>
    </div>

    <div class="email-field">
      <%= f.label :email do %>
        Email <small>required</small>
      <% end %>
      <%= f.email_field :email, required: '' %>
      <small class="error">Email is required and must follow email format.</small>
    </div>

    <div class="password-field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="password-field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'small radius button' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
