<%= form_for(@job, data: {abide: ''}) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation" class="alert-box alert" data-alert>
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title do %>
      Title <small>required</small>
    <% end %>
    <%= f.text_field :title, required: '' %>
    <small class="error">Job title is required.</small>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description do %>
      Description <small>required</small>
    <% end %>
    <%= f.text_area :description, id: 'description', required: '', class: 'textarea' %>
    <small class="error">Job description can't be blank.</small>
  </div>
  <div class="field">
    <%= f.label :contact do %>
      Contact <small>required</small>
    <% end %>
    <%= f.text_area :contact, id: 'contact', required: '', class: 'textarea' %>
    <small class="error">Contact is required.</small>
  </div>
  <div class="field">
    <%= f.label :company do %>
      Company <small>required</small>
    <% end %>
    <%= f.text_field :company, required: '' %>
    <small class="error">Company name is required.</small>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.url_field :url %>
  </div>
  <div class="actions">
    <%= f.submit class: 'small success radius button expand' %>
  </div>
<% end %>
