<div class="small-11 small-centered columns">
  <h2>Recent posted jobs</h2>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Location</th>
        <th>Company</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= job.title %></td>
          <td><%= job.location %></td>
          <td><%= job.company %></td>
          <td><%= link_to 'More detail', job %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @jobs %>

<div class="small-3 small-centered columns">
  <%= link_to 'Post My Job', new_job_path, class: 'button' %>
</div>
