<div class="large-8 small-12 columns">
  <h1><%= @job.title %></h1>
  <h3>posted on <%= @job.created_at.to_date.to_s(:long) %></h3>
</div>
<div class="large-4 columns show-for-medium-up">
</div>
<div class="large-8 small-12 columns">
  <div class="panel">
  <p class="company"><%= @job.company %></p>
  <p class="location"><em>Location: </em><%= @job.location %></p>
  <p class="url"><%= link_to @job.url, @job.url %></p>
  </div>

  <p class="description"><%= @job.description %></p>
</div>

<div class="large-4 small-12 columns">
  <div class="panel">
    <%= link_to 'javascript:;', class: 'tiny radius success button split' do %>
      <strong>Share this job</strong>
      <span data-dropdown="drop"></span><br>
    <% end %>
    <ul id="drop" class="f-dropdown" data-dropdown-content>
      <li><%= mail_to '', 'Email friends', body: "#{@job.title} at #{job_url(@job)}", subject: "#{@job.company} is hiring a #{@job.title}" %></li>
      <li><%= link_to 'Tweet this job', "http://twitter.com/home?status=" + u("#{@job.company} is hiring a #{@job.title} at #{job_url(@job)}"), target: '_blank' %></li>
    </ul>
  </div>
</div>

<div class="large-8 small-9 columns">
  <%= render partial: 'control_panel', locals: { job: @job, applied: @applied } %>
</div>
<div class="large-4 columns show-for-medium-up">
</div>
